<form action="/add_bookmark" method="post">
  <div>
  Input url of webpage
  <input type="text" name="url">
</div>
<div>
  Input title of the webpage
  <input type="text" name="title">
</div>
  <input type="submit" value="submit">
</form>
