<div>
  <h1>Bookmark page </h1>
</div>
<div>
  <form method=get action='/bookmarks'>
  <input type=submit value='view all'>
</form>
</div>
<div>
  <form method=get action='/add_bookmark'>
  <input type=submit value='Add bookmark'>
</form>
</div>
<div>
  <form method=get action='/delete_bookmark'>
  <input type=submit value='Delete bookmark'>
</form>
</div>
